<div id="TaskFirstSolution">
 <form method="post">
 <p>
 <label>First number:</label>
 <input type="text" name="FirstN" />
 </p>
 <p>
 <label>Second number:</label>
 <input type="text" name="SecondN" />
 </p>
 <p>
 <label>Third number:</label>
 <input type="text" name="ThirdN" />
 </p>
 <p>
 <input type="submit" value="Вычислить" />
 </p>
 <p>
 <label>Srednee Arifmeticheskoe:</label>
 <label>@ViewBag.H</label>
 </p>
 </form>
 </div>
