<div id="TaskThirdSolution">
    <form method="post">
        <div id="LeftColumn">
            <p>
                <label>Book's Name:</label>
            </p>
            <p>
                <input type="text" name="Nazvanie" />
                <label id="N" >@ViewBag.N</label>
                <label id="A">@ViewBag.A</label>
                <label id="Y">@ViewBag.Y</label>
            </p>
            <p>
                <label>Avtor:</label>
            </p>
             <p>
                <input type="text" name="Avtor" />
            </p>
            <p>
                <label>Year izdaniya:</label>
            </p>
             <p>
                <input type="text" name="Year" />
            </p>
            <p>
                <input type="submit" name="book" />
            </p>
            <hr />
        </div>
        <div id="RightColumn">
            <p>
                <label>Find Name:</label>
            </p>
             <p>
                <input type="text" name="fn" />
                <input type="submit" name="book1"/>
            </p>
            <p>
                <label>Find Avtor:</label>
            </p>
             <p>
                <input type="text" name="fa" />
                <input type="submit" name="book2"/>
            </p>
            <p>
                <label>Find Year:</label>
            </p>
             <p>
                <input type="text" name="fy" />
                <input type="submit" name="book3"/>
            </p>
        </div>
    </form>
</div>