<div id="TaskSecondSolution">
    <form method="post">
    <label>Enter Your Predlozhenie and programm pomenyaet ' ' on '_'</label>
    <p>
    <input type="text" name="Predlozhenie" />
    </p>
    <p>
    <input type="submit" />
    </p>
    <label>@ViewBag.S</label>
    </form>
</div>